.dummyclass {
    
}
#loading{
    position: fixed;
    top: 0px;
    left: 500px;
    z-index: 5000;
    background-color: red;
    font-size: 150%;
    color: white;
    padding: 2px;
}
/*adding panel heading **/
.panel-primary > .panel-heading-process {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}
.panel-heading-process {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.child-menu-selected {
    float:right;
}
/** Custom paging **/
.custompaging {
    text-align: center;        
}
.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}
.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}
.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}
.custompaging.dark {
    background: #414449;
    color: #feffff;
}
.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}
.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}
.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}
.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}
/* Chosen ------------------------------------------ */
.chzn-controls {
    margin-bottom: -4px !important;
}
.chzn-controls .help-inline {
    display: inline-block;
    margin-top  : 6px;  
}
.chzn-container {
    display: block;
    margin: 0;
    padding: 0 !important;
    box-shadow: none !important;
}
.chzn-container-single {
    margin: 0 !important;
    padding: 0 !important;  
}
.controls .chzn-container-single {
    float: left;
}  
.chzn-container-single .chzn-single {
    box-shadow: none !important;
    background-image: none !important;
    filter:none !important;
    -webkit-box-shadow: none!important;
       -moz-box-shadow: none!important;
            box-shadow: none!important;
    -webkit-border-radius: 0!important;
           -moz-border-radius: 0!important;
                border-radius: 0!important;
    height: 34px!important;
    line-height: 20px!important;
    padding: 4px 6px!important;    
    border: 1px solid #CCCCCC;
    margin: 0!important;
    color: #555!important;
}
.error .chzn-container-single .chzn-single        {border-color: #B94A48;}
.error .chzn-container-single .chzn-single span   {color: #B94A48;}
.success .chzn-container-single .chzn-single      {border-color: #468847;}
.success .chzn-container-single .chzn-single span {color: #468847;}
.chzn-container-single .chzn-single > span        {margin-top: 1px;}
.chzn-container-single .chzn-single > abr         {margin-top: 3px;}
.chzn-container .chzn-drop {
    -webkit-box-shadow: 0 2px 6px rgba(30, 30, 100, 0.25)!important;
       -moz-box-shadow: 0 2px 6px rgba(30, 30, 100, 0.25)!important;
            box-shadow: 0 1px 6px rgba(30, 30, 100, 0.25)!important;
    -webkit-border-radius: 0!important;
       -moz-border-radius: 0!important;
            border-radius: 0!important;
    border-color: #e5e5e5;
}
.chzn-container-single .chzn-search input,
.chzn-container-single .chzn-search input:focus,
.chzn-container-single .chzn-search input:active {
    border:1px solid #e5e5e5 !important;
    box-shadow: none!important;
    height: 28px;
    line-height: 25px;
}
.chzn-container .chzn-choices li.search-choice {
    background-image: none !important;
    filter:none !important;
    box-shadow: none !important;
    font-size: 12px !important;
    font-weight: 300 !important;
    text-shadow:none !important;
    background-color: #e8f3f7 !important;
    border: 0 !important;
      -webkit-border-radius: 0!important;
         -moz-border-radius: 0!important;
              border-radius: 0!important;
}
.chzn-container .chzn-results .highlighted  {
    background-image: none !important;
    filter:none !important;
    background-color: #eeeff3 !important;
    color: #111 !important;
}
.chzn-container-multi .chzn-choices  {
    background-image: none !important;
    filter:none !important;
    box-shadow: none !important;
    border-color: #e5e5e5 !important;
    padding: 2px 1px 1px 1px !important;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
    background-image: none !important;
    filter:none !important;
}
.chzn-x-multi .chzn-choices {
    box-shadow: none !important;
}
.chzn-container .group-result {
    color: #555 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
/* date picker sipput*/
.date-sipput {
    border-radius: 0 !important;
    box-shadow: none;    
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #555555;    
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;    
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
.date-sipput-day {
    margin-right:5px;
}
.date-sipput-month {
    margin-right:5px;
}
.date-sipput-year {
    margin-right:2px;
}
/**
Modal dialog
*/
.sipput-modaldialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.sipput-modaldialog:target {
    opacity:1;
    pointer-events: auto;
}
.sipput-modaldialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.sipput-modalclose {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.sipput-modalclose:hover { background: #00d9ff; }

