#loading{
    position: fixed;
    top: 0px;
    left: 500px;
    z-index: 5000;
    background-color: red;
    font-size: 150%;
    color: white;
    padding: 2px;
}
/*adding panel heading **/
.panel-primary > .panel-heading-process {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}
.panel-heading-process {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.child-menu-selected {
    float:right;
}